.article {
  max-width: 32em;
  margin: 0 auto;
  color: #4c4539;
  line-height: 1.8;
}

.article ul {
  padding-left: 1em;
}

.article dd {
  margin-left: 1em;
}

@media (max-width: 400px) {
  .article {
    font-size: 85%;
  }
}
